ion-icon {
    color:white;
    --ionicon-stroke-width: 80px;
  }

.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}
.orange {
  background-color: orange;
}
.red {
  background-color: red;
}

.purple {
  background-color: purple;
}

.label {
  text-align: center;
  background-color: navy;
  color: white;
}

#add-city {
  background-color: navy;
  color: white;
}

h3{
  font-weight: bolder;
}

#boxes {
  color: white;
}